<h1>Data Sets</h1>

<%= form_with url: data_sets_path, method: :get, local: true do |form| %>
  <label for="category">Filter by job</label>
  <%= form.select :category, @data_sets.categories, selected: params[:category] %>
  <%= form.submit "Filter" %>
  <%= form.submit "Clear Filters" %>
<% end %>

<table>
  <thead>
    <tr>
    <td>Report Time</td><td>Category</td><td>View</td>
    </tr>
  </thead>

  <tbody>
    <% @data_sets.each do |data_set| %>
      <tr>
        <td><%= data_set.report_time %></td>
        <td><%= data_set.category %></td>
        <td><%= link_to 'Show', data_set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Set', new_data_set_path %>
