<p id="notice"><%= notice %></p>

<h1>Data Sets</h1>

<table>
  <thead>
    <tr>
    <td>Report Time</td><td>Category</td><td>View</td>
    </tr>
  </thead>

  <tbody>
    <% @data_sets.each do |data_set| %>
      <tr>
        <td><%= data_set.report_time %></td>
        <td><%= data_set.category %></td>
        <td><%= link_to 'Show', data_set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Set', new_data_set_path %>
