<p id="notice"><%= notice %></p>
<dd>
 <% @data_set.attributes.each do |key,value| %>
   <dt><%= key.humanize %></dt><dd><%= value %></dd>
 <% end %>
</dd>
<%= link_to 'Edit', edit_data_set_path(@data_set) %> |
<%= link_to 'Back', data_sets_path %>
