<!-- This report is generated 10 pm Princeton time, which is 2 am UTC the next morning. We want the report title to reflect Princeton time -->
<h1>Alma to Peoplesoft Voucher Feed Results <%= (Time.zone.now - 1.days).strftime('%m/%d/%Y') %></h1>
<% if @alma_xml_invoice_list.errors.blank? %>
   <h2>No errors were found with the invoices</h2>
<% else %>
   <h2>Errors</h2>
   <table>
     <tr><th>Lib Vendor Invoice Date</th><th>Invoice No</th><th>Vendor Code</th><th>Vendor Id</th><th>Invoice Amount</th><th>Invoice Curency</th><th>Local Amount</th><th>Voucher ID</th><th>Errors</th></tr>
   <% @alma_xml_invoice_list.error_invoices.each do |invoice| %>
     <tr><td><%= invoice.invoice_date%></td><td><%=invoice.id%></td><td><%=invoice.vendor_code%></td><td><%=invoice.vendor_id%></td><td><%=invoice.total_invoice_amount%></td><td><%=invoice.invoice_currency%></td><td><%=invoice.invoice_local_amount_total%></td><td><%=invoice.voucher_id%></td><td><%=invoice.errors.join(', ')%></td></tr>
   <% end %>
   </table>

<% end %>

<% if @alma_xml_invoice_list.empty? %>
   <h2>No invoices available to process</h2>
<% else %>
   <h2>Processed Invoices</h2>
   <table>
     <tr><th>Lib Vendor Invoice Date</th><th>Invoice No</th><th>Vendor Code</th><th>Vendor Id</th><th>Invoice Amount</th><th>Invoice Curency</th><th>Local Amount</th><th>Voucher ID</th></tr>
   <% @alma_xml_invoice_list.valid_invoices.each do |invoice| %>
     <tr><td><%= invoice.invoice_date%></td><td><%=invoice.id%></td><td><%=invoice.vendor_code%></td><td><%=invoice.vendor_id%></td><td><%=invoice.total_invoice_amount%></td><td><%=invoice.invoice_currency%></td><td><%=invoice.invoice_local_amount_total%></td><td><%=invoice.voucher_id%></td></tr>
   <% end %>
   </table>
<% end %>
