<section class="absolute-ids">
  <h1>Absolute Identifiers (AbIDs)</h1>
  <div class="lux">
    <% if current_user %>
      <absolute-id-session-form
        action="<%= absolute_ids_url %>"
        token="<%= current_user.token %>"
        :service="<%=
          {
            action: services_archivesspace_url,
            locations: absolute_ids_locations_url,
            containerProfiles: absolute_ids_container_profiles_url,
            repositories: absolute_ids_repositories_url,
            barcodes: barcodes_url
          }.to_json
        %>"
      />
    <% else %>
      <text-style variation="strong">Please authenticate in order to generate and manage Absolute IDs.</text-style>
    <% end %>
  </div>

  <% if current_user && !@sessions.empty? %>
    <% @sessions.each do |session| %>
      <div class="lux absolute-ids-session">
        <absolute-id-session-table
          header="<%= session.label %>"
          :columns="<%= JSON.generate(table_columns) %>"
          :session="<%= session.as_json %>"
          token="<%= current_user.token %>"
          :synchronize="<%= {
            status: session.synchronize_status,
            action: synchronize_session_path(session)
          }.to_json %>"
          report-path="<%= session_id_path(session, format: 'txt') %>"
          xml-path="<%= session_id_path(session, format: 'xml') %>"
        />
      </div>
    <% end %>
  <% end %>
</section>
