<section class="absolute-ids">
  <% if current_user %>
    <div class="lux">
      <absolute-id-form
        action="<%= absolute_ids_path %>"
        token="<%= current_user.token %>"
        next-code="<%= next_code %>">
      </absolute-ids-form>
    </div>
  <% end %>

  <% if @absolute_ids.length > 0 %>
    <div class="absolute-ids-table lux">
      <absolute-id-table caption="Absolute Identifiers (AbIDs)"
                         :columns="<%= absolute_id_table_columns.to_json %>"
                         :json-data="<%= absolute_id_table_data.to_json %>" />
    </div>
  <% else %>
    <h1>Absolute Identifiers (AbIDs)</h1>
  <% end %>

  <div class="absolute-ids-status lux">
    <% unless index_status.blank? %>
      <alert status="info" dismissible>
        <%= index_status %>
      </alert>
    <% end %>
  </div>
</section>
