<section class="absolute-ids">
  <h1>Absolute Identifiers (AbIDs)</h1>
  <% if current_user %>
    <div class="lux">
      <absolute-id-batch-form
        action="<%= absolute_ids_path %>"
        token="<%= current_user.token %>"
      />
    </div>
  <% end %>

  <% if current_user && !@sessions.empty? %>
    <% @sessions.each do |session| %>
      <div class="lux absolute-ids-session" id="abid-form">
        <absolute-id-batch-table
          header="<%= session.label %>"
          :synchronized="<%= session.synchronized? %>"
          :columns="<%= JSON.generate(table_columns) %>"
          :session="<%= session.as_json %>"
          token="<%= current_user.token %>"
          synchronize-action="<%= synchronize_session_path(session) %>"
          session-report-path="<%= session_id_path(session, format: 'txt') %>"
          session-xml-path="<%= session_id_path(session, format: 'xml') %>"
        />
      </div>
    <% end %>
  <% end %>

  <div class="absolute-ids-status lux">
    <div>Loading...</div>
    <% unless index_status.blank? %>
      <alert status="info" dismissible>
      </alert>
    <% end %>
  </div>
</section>
