<section class="absolute-ids">
  <% if current_user %>
    <div class="lux">
      <absolute-id-batch-form
        action="<%= absolute_ids_path %>"
        token="<%= current_user.token %>"
      >
      </absolute-id-form>
    </div>
  <% end %>

  <% if current_user && !@sessions.empty? %>
    <% @sessions.each do |absolute_id_session| %>
      <div class="lux absolute-ids-session">
        <absolute-id-batch-table
          header="<%= absolute_id_session.label %>"
          :columns="<%= JSON.generate(table_columns) %>"
          :session="<%= absolute_id_session.as_json %>"
          token="<%= current_user.token %>"
          synchronize-action="<%= absolute_ids_synchronize_path %>"
        />
      </div>
    <% end %>
  <% else %>
    <h1>Absolute Identifiers (AbIDs)</h1>
  <% end %>

  <div class="absolute-ids-status lux">
    <% unless index_status.blank? %>
      <alert status="info" dismissible>
        <%= index_status %>
      </alert>
    <% end %>
  </div>
</section>
